.team-section{
    background-color: var(--primary-color);
    padding-bottom: 80px;
}

.team_heading{
    padding-top: 40px;
    padding-bottom: 40px;
}

.team_title{
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--button-color);
    text-align: center;
}
.team_subtitle{
    font-size: 28px;
    text-align: center;
    color: #001718;
    line-height: 40.88px;
    font-weight: 500;
}

.team_par{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.36px;
    color: #3A4B4C;
}

.team{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 50px;

}

.team-box{
    width: 280px;
    height: 369px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #00000014;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.team-box img{
    width: 240px;
    height: 240px;
}

.team-box h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 23.36px;
    margin-top: 10px;
}

.team-box p{
    font-weight: 700;
    line-height: 17.52px;
    font-size: 12px;
    color: #707070;
    margin-top: 0px;
}

.team-box i{
    margin-top: 10px;
    font-size: 16px;
    color: var(--primary-color);
    margin-right: 10px;
    background-color: var(--button-color);
    padding: 7px;
    border-radius: 15px;
}

 

