/* Header styles Start*/

header {
    background: #fff;
    width:1,280.65px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 22px;
  }
  
  header .logo {
  width: 154.65px;
  height: 46.53px;
  }
  
  header .logo img {
    width: 43.65px;
    height: 46.53px;
  }
  
  header .logo h3{
   font-size: 14px;
   font-weight: 400;
   line-height: 21.84px;
  }
  header nav ul {
    display: flex;
    list-style: none;
  }
  header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    text-decoration: none;
    margin-right: 57px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.84px;
  }
  
  header nav ul li a:hover{
    color: var(--main-color);
    transition: 0.3s;
  }
  
  .btn{
    background: var(--button-color);
    color: #fff;
    padding: 16px 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21.84px;
    transition: 0.3s;
  
  }
  
  .btn:hover{
    background-color: var(--main-color);
    color: var(--primary-color);
  }
  
  .hamburger {
    cursor: pointer;
    display: none;
  }
  
  .hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
  }
  @media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
  }
  @media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 80px;
        width: 100%;
        background:#64bcf4;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
  }
  
  @media only screen and (max-width: 860px) {
    header nav ul li a {
        margin-right: 30px;
    }
  }
  
  /* Header styles End */
  
  