
.about_heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    padding-top: 60px;
}

.about_title{ 
    font-size: 14px;
    font-weight: 600;
    color: var(--button-color);
    margin-bottom: 15px;
    line-height: 18.76px;
}

.about_subtitle{
    font-size: 28px;
    font-weight: 500;
    line-height: 40.88px;
    color: var(--secondary-color);
}

.about_span{
    font-size: 28px; 
    font-weight: 500;
    line-height: 40.88px;
    color: var(--secondary-color);
}


.about_container{
    width: 90%;
    margin: 30px auto;
    padding: 10px;
   
}


.about_us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    padding: 20px;
}

.about_image {
    flex: 1;
    margin-left: 45px;
    overflow: hidden;
    padding: 40px 20px;
    background: linear-gradient(180deg, rgba(220, 253, 255, 0) 22.91%, #DCFDFF 100%);
    border-radius: 0 0 360px 360px; /* Updated border-radius for an egg shape */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_image img {
    max-width: 325.69px;
    height: 319.58px;
    display: block;
}



.about_content{
    flex: 1;
    margin-left: 50px;
}



.about_content p {
font-size: 18px;
line-height: 30.6px;
font-weight: 500;
color: var(--secondary-color);
padding-right: 30px;
}


.about_know_more{
    font-size: 14px;
    font-weight: 600;
    line-height: 18.76px;
    color: var(--button-color);
    text-decoration: none;
    margin-bottom: 15px;

}


@media screen and (max-width: 768px){
    .about_heading{
        padding: 0px 20px;
        text-align: center;
    }
    .about_title{
        font-size: 14px;
    }
    .about_heading p{
        font-size: 18px;
        margin-bottom: 0px;
        font-weight: 500;
    }

    .about_span{
        font-size: 18px;
        margin-bottom: 0px;
        font-weight: 500;
    }
    .about_container{
        padding: 0px;
    }
    .about_us{
        padding: 20px;
        flex-direction: column;
    }
    .about_image{
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .about_content p{
        padding:0px;
        font-size: 16px;
    }
    .about_content a{
        font-size: 16px;
    }
}


@media screen and (max-width: 820px){
    .about_container{
        padding: 0px;
        margin: 30px;
    }
    .about_us{
        padding: 20px;
    }
    .about_image img{
        width: 100%;
        height: auto;
    }
    .about_content p{
        padding:0px;
        font-size: 15px;
    }
    .about_know_more{
        font-size: 14px;
    }
}

@media screen and (max-width: 912px){
    .about_container{
        padding: 0px;
        margin: 30px;
    }
    .about_us{
        padding: 20px;
    }
    .about_image img{
        width: 100%;
        height: auto;
    }
    .about_content p{
        padding:0px;
        font-size: 15px;
    }
    .about_know_more{
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px){
    .about_container{
        padding: 0px;
        margin: 30px;
    }
    .about_us{
        padding: 20px;
    }
    .about_image img{
        width: 100%;
        height: auto;
    }
    .about_content p{
        padding:0px;
        font-size: 15px;
    }
    .about_know_more{
        font-size: 14px;
    }
}


@media screen and (min-width: 360px) and (max-width: 430px){
    .about_heading{
        padding: 0 15px;
    }
    .about_title{
        font-size: 12px;
    }
    .about_us{
        margin-right: 25px;
    }
}