.faq_faq_faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.faq_faq h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 18.76px;
    color: #005B61;

}

.qtn p{
    font-weight: 500;
    font-size: 28px;
    line-height: 40.88px;
}

.faq_faq{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faq_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.faq_container_1{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.faq_container_2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq_container_1, .faq_container_2{
    padding: 40px;
}

.container_1_one{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_1_faq_what{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.container_1_faq{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    background:#FBFBFB;
    ;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.container_1_one_div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background: #FBFBFB;
    padding: 20px;
    border-radius: 5px;
}


.qn_trigger{
    cursor: pointer;
}

.answer{
    overflow: hidden;
}

.slide-in{
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}




@media (max-width: 540px){
    .faq_container{
        font-size: small;
    }
    .qtn p{
        font-weight: 500;
        font-size: 15px;
        line-height: 20.88px;
    }
}

@media (max-width: 830px){
    .faq_container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
    }
    .faq_container_2, .faq_container_1{
        padding: 10px;
    }
}


@media (max-width: 430px){
    .faq_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: small;
        gap: 20px;
        padding: 20px;
    }
    .container_1_one_div{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .faq_container_1, .faq_container_2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    
    
}