
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Inter:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

  @import "./header/header.css";
  @import "./about.css";
  @import "./footer.css";
  @import "./hero.css";
  @import "./mission.css";
  @import "./ready.css";
  @import "./register.css";
  @import "./sponsor.css";
  @import "./team.css";
  @import "./faq.css";


  *,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

:root{
 --primary-color: #fff;
 --secondary-color: #000;
 --third-color: #3A4B4C;
 --main-color:#45A3A9;
 --button-color: #005B61;
 --fourth-color: #C5FCFF;
 --darktwo-color:#45424b;
 --main-font:'Lato', sans-serif;
 --other-font: 'Roboto', sans-serif;
 }

 html{
  scroll-behavior: smooth;
 }

 body{
  font-family: var(--main-font);
  width: 100%;
 }

 img{
  width: 100%;
 }

 .separator-line {
  background-color: var(--button-color);
  height: 2px;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
#question_trigger {
  cursor: pointer;
}

.back-to-top{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border-radius: 2rem;
  padding: 0.7rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span{
  font-size: 1.1rem;
  transition: 0.2s ease-out;
  color: var(--primary-color);
}

.back-to-top:hover{
  background-color: #0c767e;
}

.back-to-top:hover span{
  transform: translateY(-4px);
}